@font-face {
    font-family: Montserrat;
    src: url('../Recursos/font/Montserrat-Regular.ttf');
  }
  @font-face {
    font-family: Kaushan;
    src: url('../Recursos/font/KaushanScript-Regular.ttf');
  }
  @font-face {
    font-family: MontserratLr;
    src: url('../Recursos/font/Montserrat-ExtraLight.ttf');
  }
  body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
  }
  .main {
    width: 70%;
    margin: auto;
  }
  nav {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }
  nav .left-nav ul,
  nav .right-nav ul {
    display: flex;
    list-style: none;
    margin-right: 30px;
  }
  nav .left-nav ul li a,
  nav .right-nav ul li a {
    color: black;
    margin: 1rem;
    text-decoration: none;
    text-align: center;
  }
  .accent {
    color: #f7b6c9;
  }
  .logo h2 {
    font-family: Kaushan;
  }
/* LOGIN */
  .container, .containerSignup{
    
    display: flex;
   
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container{
    margin-top: 4rem;
    height: 70vh;
    background-image: url(../Recursos/pexels-any-lane-5946101.jpg);
  }

  .containerSignup{
    margin-top: 2rem;
    height: 90vh;
    background-image: url(../Recursos/pexels-any-lane-5946081.jpg);
  }

  .login, .signup{
    border: 1px solid #f7b6c9;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3rem;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }

  .login div, .signup div{
    display: flex;
    flex-direction: column;
  }

  .inputs input{
    width: 300px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }

  .signup .inputs input{
    width: 300px;
    padding: 1.5rem;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }

.inputs button{
  padding: .8rem;
  background-color: #35281d;
  color: #f7b6c9;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.signup .inputs button{
  padding: 1.2rem;
}


.login h1, .signup h1{
  font-family: Kaushan;
}


.who, .elige{
  margin: 4rem;
  position: relative;
}

.whoWe, .choose{
  width: 40%;
  border: 2px solid #f7b6c9;
  background-color: white;
  padding: 3rem;
}

.choose{
  margin: 7rem 0;
  float: right;
 
}

.choose h1{
   text-align: right;
}

.whoWe::after{
  content: '';
  width: 50vw;
  height: 50vh;
  background-color: #35281d;
  position: absolute;
  left: 20%;
  top: 20%;
  z-index: -1;
  background-image: url(../Recursos/pexels-nataliya-vaitkevich-8468311.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.chooser{
  content: '';
  width: 50vw;
  height: 50vh;
  background-color: #35281d;
  position: absolute;
  right: 18%;
  top: 20%;
  z-index: -1;
  background-image: url(../Recursos/pexels-na-urchin-2377173.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.whatDo .title{
  position: relative;
}
.whatDo .title div{
  text-align: center;
}

.what{
  padding: 1.7rem 3rem;
  display: flex;
}

.what div{
  background-color: #f4f4f4;
  margin:20px;
  box-shadow: 5px 5px 15px rgba(4, 4, 4, 0.2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.space{
  height: 50px;
  width: 100%;
}

.ss{
  height: 50vh;
  margin: 2rem 0;
  padding: 3rem;
 
}
.titulo{
  text-align: center;
}
.contentt{
  display: flex;
}
.contentt img{
  height: 350px;
  width: 350px;
}

.contentt p{
  padding: 3rem;
}

.ss:nth-child(even){
  background-color: #f7b6c9;
}

.ss:nth-child(odd){
  box-shadow: 5px 5px 10px #d3d3d3;
}




















  /* copiado por congruencia */

  footer {
    margin-top: 5rem;
    padding: 3rem;
    background-color: #f7b6c9;
    clear: both;
  }
  .flex {
    display: flex;
  }
  .shop {
    flex: 1;
  }
  .shop ul,
  .hrs ul {
    list-style: none;
  }
  .shop ul li a,
  .hrs ul li,
  .address p {
    text-decoration: none;
    color: grey;
  }
  .shop ul li,
  .hrs ul li {
    margin: 1rem 0;
  }
  .hrs {
    flex: 1;
  }
  .address {
    flex: 2;
  }
  .nes {
    flex: 1;
  }
  .shop h4,
  .hhrs h4,
  .address h4,
  .nes h4 {
    color: #35281d;
  }
  .nes input {
    padding: 1rem;
    width: 80%;
    margin: auto;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
  }
  .btn-block {
    background-color: #35281d;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    text-transform: capitalize;
    width: 95%;
    margin: 20px auto;
    color: white;
  }
  




  /*media queries*/


  @media only screen and (max-width: 992px){
    .main{
      width: 90%;
    }
    .who, .elige{
      margin-top: 15rem;
    }

    .whoWe{
      margin: auto;
      width: 60%;
    }
    .whoWe::after, .chooser{
      top: -30%;
      left: 0;
      width: 70vw;
    }

    .choose{
      float: none;
      margin: auto;
      width: 60%;
    }
  }

  @media only screen and (max-width: 800px){

   
   
    .whoWe::after, .chooser{
      top: -10%;
      left: 0;
      width: 70vw;
    }
    .signup{
          width: 70%;
    }
    form{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }

    .signup .inputs input{
      width: 140px;
      padding: 1.5rem;
      border: none;
      border-radius: 5px;
      margin-top: 20px;
    }

    
.signup .inputs button{
 display: block;
  padding: 1.2rem;
}
    
  }

  @media only screen and (max-width: 768px){
 
    .whoWe::after, .chooser{
      top: -20%;
      left: 0;
      width: 70vw;
    }

    .choose, .whoWe{
      background-color: rgba(255, 255, 255, 0.7);
    }
    
   
    
  }


  /*** sm desing */